* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Helvetica Neue Medium";
}

body {
	color: #888888;
	margin: 0 !important;
}

@font-face {
	font-family: "Helvetica Neue Medium";
	src: url("src/assets/fonts/HelveticaNeueMedium.woff") format('woff');
}
@font-face {
	font-family: "Helvetica Neue Bold";
	src: url("src/assets/fonts/HelveticaNeueBold.woff") format('woff');
}

.header {
	color:#ffffff;
	text-align: center;
	font-size: inherit;
}
.header > h3 {
	font-family: "Helvetica Neue Medium";
}
.footer {
	background-color: #707070;
	height: 290px;
	width: 100%;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
}

p {
	font-family: "Helvetica Neue Medium";
}

/* fundo com ângulos */
svg.topo {
	top:0;
	position: absolute;
	width: 100%;
	height: 400px;
	margin:0;
}
.rodape {
	color: #fff;
}
.container-svg {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 290px;
	overflow-y: hidden;
}

/* botões */
button {
	padding: 2%;
	border: solid 1px #707070;
	background-color: #ffffff;
	color: #888888;
	border-radius: 4px;
	text-align: center;
	margin-left:auto;
	margin-right: auto; 
}

button.infos {
	width: 50%;
	float: left;
	width: 160px;
	margin: 2%;
}

/* par de botões para responsividade */
.dupla-botoes {
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
}

button > .comprar {
	width: 100%;
}

/* produtos */
.produto {
	border: solid 1px #ccc;
	min-width: 25%;
	max-width: 25%;
}

.produto > .img-prod {
	border: solid 1px #000;
	width: 100%;
	height: 150px;

}

.produto > .comprar {
	size: 30px;
}
.produto > .nome {
	font-size: 14px;
}
.produto > .descricao {
	font-size: 12px;
}
.produto > .preco  /*serve também para número de prestações*/ {
	font-size: 14px;
}
.produto > .promocao {
	font-size: 16px;
	font-weight: bold;
}


/* inputs */
input {
	width: 100%;
}

/* FLEXBOX */
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding: 2% 15%;

	.column {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;

		&.col-2 {
			flex: 2;
		}
		&.col-3{
			flex: 3;
		}
		&.col-4{
			flex: 4;
		}
		&.col-5{
			flex: 5;
		}
		&.col-6{
			flex: 6;
		}
		&.col-7{
			flex: 7;
		}
		&.col-8{
			flex: 8;
		}
		&.col-9{
			flex: 9;
		}
		&.col-10{
			flex: 10;
		}
		&.col-11{
			flex: 11;
		}
		&.col-12{
			flex: 12;
		}
	}
} 

@media (max-width: 420px) {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding: 3%;

		.column {
			display: flex;
			flex-direction: column;
			flex-basis: 100%;
			flex: 1;

			&.col-2 {
				flex: 2;
			}
			&.col-3{
				flex: 3;
			}
			&.col-4{
				flex: 4;
			}
			&.col-5{
				flex: 5;
			}
			&.col-6{
				flex: 0 0 100%;
			}
			&.col-7{
				flex: 7;
			}
			&.col-8{
				flex: 8;
			}
			&.col-9{
				flex: 9;
			}
			&.col-10{
				flex: 10;
			}
			&.col-11{
				flex: 11;
			}
			&.col-12{
				flex: 12;
			}
		}
	} 	
}